/*logo image*/

header div a img {
  position: relative;
  margin-left: auto;
  top: -74px;
  height: 300px;
  width: 300px;
}


/*business header*/

header div span {
  font-family: serif;
  font-size: 1500%;
  position: relative;
}


/*search field*/

header div input {
  position: absolute;
  align-right: auto;
  right: 100px;
}

/*nav bar*/

header nav {
  height: 45px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 20px;
  padding-left: 5px;
}

nav ul {
  list-style: none;
  padding: 0px;
}

nav ul li {
  display: block;
}

nav ul li>a {
  text-decoration: none;
}

nav ul li>a:hover {
  text-decoration: underline;
}

.backgroundgradient {
  background-color: #E70909;
}

.navbar-background {
  background-color: #E70909;
}

.navlink {
  height: 35px;
  margin-right: 10px;
  font-size: 18px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 12px;
  color: white;
  text-decoration: none;
}

.navlink.active {
  color: red;
  background-color: white;
}

/*background color*/

body {
  background-color: white;
}

/*main body text*/

.col-sm {
  font-family: serif;
  font-size: 18px;
}

/*footer*/

.footer {
  position: relative;
  display: block;
  padding-top: 23%;
  justify-content: center;
}

.p-2 {
  justify-content: center;
  position: relative;
  display: flex;
  color: grey;
  background-color: black;
  width: 400px;
  height: 50px;
  left: 39%;
  border-radius: 5px;
  margin-bottom: 5px;
}

div p {
  padding-top: 3px;
}

div address {
  padding-top: 3px;
}



/*div footer p {
  position: relative;
  display: flex;
  text-align: center;
  vertical-align: middle;
  padding-top: 17px;
  height: 40px;
  width: 300px;
  color: grey;
  background-color: black;
  left: 660px;
  top: 25px;

}*/

/*.topline {
  position: relative;
  display: flex;
  justify-content: center;
  color: grey;

}*/

/*address {
  display: block;
  position: relative;
  justify-content: center;
  padding-top: 17px;
  height: 40px;
  width: 300px;
  color: white;
  background-color: black;
  left: 660px;
  top: 25px;
}*/

/*.textcontent {
  text-align: center;
}

.smalltext {
  text-align: center;
  float: center;
}*/

/*home page text*/

#welcometext {
  column-count: 2;
}

/*all borders*/

fieldset {
  border: none;
}

/*bot name changes*/

h4 {
  font-family: sans-serif, Verdana;
}

/*hardware changes*/

label {
  font-family: sans-serif, Verdana;
}

#i3 {
  font-family: sans-serif, Verdana;
}

#i4 {
  font-family: sans-serif, Verdana;
}

#i7 {
  font-family: sans-serif, Verdana;
}


/*about change*/

h5 {
  font-family: sans-serif, Verdana;
}

/*search field focus*/

.focused {
  border: solid 3px blue;
  }

/*form fieldset legend p label>span.hover {
  color: blue;
  font-weight: bold;
}*/

.highlight {
  color: blue;
  font-weight: bold;
}

/*loading screen*/

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
