header div a img {
  position: relative;
  margin-left: auto;
  top: 72px;
  height: 300px;
  width: 300px;
}

header div span {
  font-size: 1500%;
  position: relative;
}

header div input {
  position: absolute;
  align-right: auto;
  right: 100px;
}
