/* logo and business header container */

.head-container {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  background-color: #00bfff;
  top: 3%;
}

header {
  background-color: #00bfff;
}

/*logo image*/

header div a img {
  position: relative;
  justify-content: inline;
  margin: 0 auto;
  display: inline-flex;
  top: 25px;
  margin-bottom: 35px;
  height: 210px;
  width: 300px;
}

/*business header*/

header div span {
  position: relative;
  justify-content: center;
  margin: 0 auto;
  font-family: serif;
  font-size: 1500%;
  text-align: center;
  display: flex;
}

/*search field*/

header div input {
  position: absolute;
  align-right: auto;
  right: 100px;
}

/*nav bar*/

header nav {
  height: 50px;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 0px;
  padding-left: 5px;
}

nav ul {
  list-style: none;
  padding: 0px;
}

nav ul li {
  display: block;
}

nav ul li>a {
  text-decoration: none;
}

nav ul li>a:hover {
  text-decoration: underline;
}

.backgroundgradient {
  background-color: #E70909;
}

.navbar-background {
  background-color: #E70909;
}

.navlink {
  height: 35px;
  margin-right: 10px;
  font-size: 18px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 12px;
  color: white;
  text-decoration: none;
}

.navlink.active {
  height: 50px;
  ;
  color: red;
  background-color: white;
}

/*search field*/

#myInput {
  margin-top: 50px;
}

/*robot hello*/

#productofthemonth {
  display: block;
  position: relative;
}

/*Welcome Image*/

.d-flex {
  position: relative;
  display: inline-flex;
  padding-bottom: 55px;
}

/*background color*/

body {
  background-color: #00bfff;
}

/*header text*/

/* .headertop {
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 25px;
  padding-top: 25px;
  font-family: serif;
  width: 100%;

} */

/*main body text*/

.container {
  position: relative;
  display: block;
  top: -25px;
  /* padding-left: 25px; */
  /* padding-right: 25px; */
  padding-bottom: -23%;
  margin-bottom: 50px;
  font-family: sans-serif, Verdana;
  text-align: left;
  height: 590px;
  width: 100%;
  max-width: 950px;
  background-color: #80e5ff;
  border-radius: 30px;
  border-color: white;
  border-style: double;
  border-width: 10px;
  justify-content: center;
}

/*footer*/

.footer {
  position: relative;
  display: block;
  padding-top: 5%;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 3%;
}

.p-2 {
  justify-content: center;
  position: relative;
  display: flex;
  color: grey;
  background-color: black;
  width: 400px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.d-flex-row {
  display: flex;
  position: relative;
  justify-content: center;
}

div p {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 5px;
}

div address {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 5px;
}

/*multiple fieldsets*/

.minicontainer {
  display: flex;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: -23%;
  margin-bottom: 5px;
  font-family: sans-serif, Verdana;
  text-align: left;
  width: 450px;
  background-color: #80e5ff;
  border-radius: 30px;
  border-color: white;
  border-style: double;
  border-width: 10px;
  ;
}

.hdwr {
  display: block;
  position: relative;
  text-align: left;
}

.selex {
  display: block;
  position: relative;
  color: white;
  background-color: #E70909;
  text-align: center;
  font-family: sans-serif, Verdana;
  height: 50px;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 23px;
  border-radius: 10px;
  padding-bottom: 8px;
  padding-top: 11px;
}

/*body text*/

#welcometext {
  /*column-count: 2;*/
  margin: 5px;
}

/*all borders*/

fieldset {
  border: none;
}

.mastercontainer {
  margin-bottom: -90px;
}

#legend {
  position: relative;
  display: flex;
  margin: 0 auto;
  color: white;
  background-color: #E70909;
  font-family: serif;
  justify-content: center;
  font-family: serif;
  text-align: center;
  height: 50px;
  width: 50%;
  margin-top: 13px;
  margin-bottom: 23px;
  border-radius: 10px;
  padding-bottom: 28px;
  padding-top: 8px;
}

#sendbutton {
  padding-bottom: 25px;
}

/*bot name changes*/

h4 {
  position: relative;
  display: flex;
  margin: 0 auto;
  color: white;
  background-color: #E70909;
  font-family: serif;
  justify-content: center;
  width: 50%;
  height: 65px;
  text-align: center;
  margin-top: 13px;
  margin-bottom: -23px;
  border-radius: 10px;
  padding-bottom: 28px;
  padding-top: 28px
}

/*hardware changes*/

/* label {
  font-family: sans-serif, Verdana;
} */

#i3 #i4 #i7 {
  font-family: sans-serif, Verdana;
}

/* contact info */

.container_sub2 {
  position: relative;
  display: block;
  width: 950px;
  height: 650px;
  background-color: #80e5ff;
  border-radius: 30px;
  border-color: white;
  border-style: double;
  border-width: 10px;
  ;
  margin-top: -40px;
  padding-top: 20px;
}

#yloc {
  margin-left: 10px;
}

/*mission statement*/

.d-flex {
  margin: auto;
}

.container_sub {
  position: relative;
  display: block;
  width: 950px;
  height: 350px;
  background-color: #80e5ff;
  border-radius: 30px;
  border-color: white;
  border-style: double;
  border-width: 10px;
  ;
  margin-top: -40px;
  padding-top: 20px;
}

h3 {
  position: relative;
  display: flex;
  color: white;
  background-color: #E70909;
  font-family: serif;
  justify-content: center;
  width: 50%;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 23px;
  border-radius: 10px;
  height: 50px;
  padding-top: 8px;
}

.mission {
  position: relative;
  display: block;
  text-align: center;
  font-family: sans-serif, Verdana;
}

.p-1 {
  justify-content: center;
  position: relative;
  display: flex;
  background-color: #80e5ff;
  margin-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: sans-serif, Verdana;
}

/*history text*/

#history {
  position: relative;
  display: block;
  text-align: left;
  font-family: sans-serif, Verdana;
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

/*about change*/

h5 {
  position: relative;
  display: block;
  justify-content: center;
  font-family: sans-serif, Verdana;
}

/*search field focus*/

.focused {
  border: solid 3px blue;
}

/*loading screen*/

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*we are the robots*/

.container_multi {
  position: relative;
  display: block;
  justify-content: center;
  margin-left: -50px;
}

#toprobo {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 50px;
}

h2 {
  align-content: center;
  position: relative;
  display: block;
  text-align: center;
  justify-content: center;
  font-family: serif;
  background-color: #E70909;
  ;
  width: 550px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
}

ul {
  list-style-type: none;
}

.imgrobo {
  padding-top: 20px;
  text-align: center;
  font-family: sans-serif, Verdana;
}

.subcontainer {
  position: relative;
  display: inline-flex;
  justify-content: center;
  background-color: #80e5ff;
  border-radius: 30px;
  border-color: white;
  border-style: double;
  border-width: 10px;
  width: 420px;
  height: 700px;
  border-radius: 30px;
  margin-bottom: -75px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 5px;
}

.descriptor {
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

#imgrobo3 {
  position: relative;
  justify-content: center;
  margin-bottom: 25px;
}

#imgrobo2 {
  margin-top: 70px;
}

#imgrobo1 {
  margin-top: 70px;
}

#desc2 {
  margin-top: 30px;
}

mark {
  border-radius: 10px;
}

/* highlight */

/* label {
  border: 2px solid rgb(231, 9, 9) !important;
  background: none !important;
} */
